@use '../styles/variables' as *;

.content {
  margin-left: 72px;
  min-height: 100vh;
  padding: 2rem;

  @include respond($bp-lg) {
    margin-left: 0;
    padding: 1.5rem 1rem 5rem; // extra bottom for mobile nav
  }
}
